.fg-accent{
  color: var(--accent);
}
.bg-accent{
  background-color: var(--accent);
  color: white;
}
.fg-destructive{
  color: var(--red4);
}
.bg-destructive{
  background-color: var(--red3);
  color: white;
}
.fg-success{
  color: #1b8553;
}
.bg-success{
  background-color: var(--green4);
  color: white;
}
.fg-warning{
  color: #9c6e03;
}
.bg-warning{
  background-color: var(--yellow5);
  color: var(--text);
}
.bg-window{
  background-color:	#fafafa;
  color: var(--text);
}
.bg-view{
  background-color: white;
  color: var(--text);
}
.bg-sidebar{
  background-color: rgba(0, 0, 0, 0.07);
}
.bg-dark{
    background-color: var(--dark3);
    color: var(--light2);
}

/*************************************************/
@property --accent{
    syntax: "<color>";
    inherits: true;
    initial-value: --blue3;
}
@property --text {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(0,0,0,0.8);
}
@property --red1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f66151;
}
@property --red2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ed333b;
}
@property --red3 {
  syntax: "<color>";
  inherits: false;
  initial-value: #e01b24;
}
@property --red4 {
  syntax: "<color>";
  inherits: false;
  initial-value: #c01c28;
}
@property --red5 {
  syntax: "<color>";
  inherits: false;
  initial-value: #a51d2d;
}
@property --orange1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ffbe6f;
}
@property --orange2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ffa348;
}
@property --orange3 {
  syntax: "<color>";
  inherits: false;
  initial-value: #ff7800;
}
@property --orange4 {
  syntax: "<color>";
  inherits: false;
  initial-value: #e66100;
}
@property --orange5 {
  syntax: "<color>";
  inherits: false;
  initial-value: #c64600;
}
@property --yellow1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f9f06b;
}
@property --yellow2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f8e45c;
}
@property --yellow3 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f6d32d;
}
@property --yellow4 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f5c211;
}
@property --yellow5 {
  syntax: "<color>";
  inherits: false;
  initial-value: #e5a50a;
}
@property --green1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #8ff0a4;
}
@property --green2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #57e389;
}
@property --green3 {
  syntax: "<color>";
  inherits: false;
  initial-value: #33d17a;
}
@property --green4 {
  syntax: "<color>";
  inherits: false;
  initial-value: #2ec27e;
}
@property --green5 {
  syntax: "<color>";
  inherits: false;
  initial-value: #26a269;
}
@property --blue1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #99c1f1;
}
@property --blue2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #62a0ea;
}
@property --blue3 {
  syntax: "<color>";
  inherits: false;
  initial-value: #3584e4;
}
@property --blue4 {
  syntax: "<color>";
  inherits: false;
  initial-value: #1c71d8;
}
@property --blue5 {
  syntax: "<color>";
  inherits: false;
  initial-value: #1a5fb4;
}
@property --purple1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #dc8add;
}
@property --purple2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #c061cb;
}
@property --purple3 {
  syntax: "<color>";
  inherits: false;
  initial-value: #9141ac;
}
@property --purple4 {
  syntax: "<color>";
  inherits: false;
  initial-value: #813d9c;
}
@property --purple5 {
  syntax: "<color>";
  inherits: false;
  initial-value: #613583;
}
@property --brown1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #cdab8f;
}
@property --brown2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #b5835a;
}
@property --brown3 {
  syntax: "<color>";
  inherits: false;
  initial-value: #986a44;
}
@property --brown4 {
  syntax: "<color>";
  inherits: false;
  initial-value: #865e3c;
}
@property --brown5 {
  syntax: "<color>";
  inherits: false;
  initial-value: #63452c;
}
@property --light1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f6f5f4;
}
@property --light2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f6f5f4;
}
@property --light3 {
  syntax: "<color>";
  inherits: false;
  initial-value: #deddda;
}
@property --light4 {
  syntax: "<color>";
  inherits: false;
  initial-value: #c0bfbc;
}
@property --light5 {
  syntax: "<color>";
  inherits: false;
  initial-value: #9a9996;
}
@property --dark1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #77767b;
}
@property --dark2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #5e5c64;
}
@property --dark3 {
  syntax: "<color>";
  inherits: false;
  initial-value: #3d3846;
}
@property --dark4 {
  syntax: "<color>";
  inherits: false;
  initial-value: #241f31;
}
@property --dark5 {
  syntax: "<color>";
  inherits: false;
  initial-value: #000000;
}
