@import "colour.css";

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("InterVariable.woff2") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("InterVariable-Italic.woff2") format("woff2");
  }
  
  @font-feature-values InterVariable {
      @character-variant {
          cv01: 1; cv02: 2; cv03: 3; cv04: 4; cv05: 5; cv06: 6; cv07: 7; cv08: 8;
          cv09: 9; cv10: 10; cv11: 11; cv12: 12; cv13: 13;
          alt-1:            1; /* Alternate one */
          alt-3:            9; /* Flat-top three */
          open-4:           2; /* Open four */
          open-6:           3; /* Open six */
          open-9:           4; /* Open nine */
          lc-l-with-tail:   5; /* Lower-case L with tail */
          simplified-u:     6; /* Simplified u */
          alt-double-s:     7; /* Alternate German double s */
          uc-i-with-serif:  8; /* Upper-case i with serif */
          uc-g-with-spur:  10; /* Capital G with spur */
          single-story-a:  11; /* Single-story a */
          compact-lc-f:    12; /* Compact f */
          compact-lc-t:    13; /* Compact t */
      }
      @styleset {
          ss01: 1; ss02: 2; ss03: 3; ss04: 4; ss05: 5; ss06: 6; ss07: 7; ss08: 8;
          open-digits: 1;                /* Open digits */
          disambiguation: 2;             /* Disambiguation (with zero) */
          disambiguation-except-zero: 4; /* Disambiguation (no zero) */
          round-quotes-and-commas: 3;    /* Round quotes &amp; commas */
          square-punctuation: 7;         /* Square punctuation */
          square-quotes: 8;              /* Square quotes */
          circled-characters: 5;         /* Circled characters */
          squared-characters: 6;         /* Squared characters */
      }
  }
  
  :root {
    /* default Inter settings */
    font-family: "Inter", sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1, 'cv05' 1; /* Inter features */
  }

hidden{
    display: none;
}
#quicksettings{
    display: none;
    opacity: 0;
    border:0;
    border-radius:20px;
    background-color: var(--dark4);
    position: absolute;
    top: 35px;
    right: 5px;
    padding: 20px;
    transition: opacity 0.2s ease-in-out;
}
vr{
    box-sizing: border-box;
    height: 110%;
    top:-5px;
    border-right:1px solid var(--text);
}

#quicksettings table tr td{
    width:50%
}

#quicksettings table tr td button{
    text-align: left;
    display:inline-block;
    box-sizing: border-box;
    margin:5px;
    height:20px;
    width:100%;
    overflow:hidden;
    font-size: medium;
    font-weight: bold;
}


.white-icon{
    filter: brightness(0%) saturate(100%) invert(97%) sepia(3%) saturate(9%) hue-rotate(48deg) brightness(109%) contrast(100%);
}
.close{
    border-radius:100%;
    width:25px;
    height:25px;
    background-color:rgba(124,124,124,0.5);
    border:none;
    position:absolute;
    top:5px;
    right:5px;
    font-size: 15pt;
}
body{
    margin: 0;
    background-color: var(--dark3);
    overflow: hidden;
    color: var(--text);
}
body, h1, h2, h3, h4, h5, h6, p, button, textarea, input, div {
    font-family: "Inter", sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1, 'cv05' 1; /* Inter features */
}
desktop{
    width:100vw;
    height:100vh;
    background-image: url("../wall-lt.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top:0px;
    left:0px;
    margin: 0px;
    padding: 0px;
    transition: scale 0.25s ease-in-out,border-radius 0.25s ease-in-out;
    scale:1.0;
    z-index:0;
    overflow:hidden;
}
desktop.small{
    scale:0.7;
    border-radius: 30px;
}
#activity-button{
    background-color: rgba(0,0,0,0);
    border-radius:10px;
    border:0;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: var(--light1);
    position: absolute;
    top:5px;
    left:5px;
    z-index: 100001;
}
#activity-button:hover{
    background-color: var(--dark3);
}
#quicksettings-button{
    position: absolute;
    top:5px;
    right:5px;
    z-index: 100002;
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
    border:0;

}
#quicksettings-button:hover{
    background-color: var(--dark3);
}
.taskbar{
    background-color: var(--dark4);
    border-radius: 20px;
    border: 0;
    font-weight: bold;
    color: var(--light1);
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.app-button{
    background:none;
    border:none;
}
.app-button:hover{
    background:none;
    border:none;
}
.activity-bar{
    transition: background-color 0.25s ease-in-out;
    position: fixed;
    background-color: var(--dark5);
    color: var(--light1);
    width: 100vw;
    height: 30px;
    line-height: 30px;
    font-size: 12pt;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    margin: 0;
    z-index: 100000;
}
.window {
    position: absolute;
    text-align: center;
    border-radius: 20px;
    width:100px;
    height:100px;
    top:30px;
    left:20px;
    overflow: hidden;
    box-shadow:0 0 5px rgba(0,0,0,0.4);
}
input[type=text]{
    background-color: var(--light3);
    font-family: "Inter", sans-serif;
    border:0;
    border-radius:10px;
}
input[type=text]:hover{
    background-color: var(--light1);
    border:1px var(dark1);
}
button{
    background-color: var(--light1);
    border:0;
    border-radius:10px;
}
button:hover.bg-success{
    background-color: #1b8553;
    color: var(--light1);
  }
.bg-success img{
    filter: brightness(0%) saturate(100%) invert(97%) sepia(3%) saturate(9%) hue-rotate(48deg) brightness(109%) contrast(100%);
}
button:hover{
    background-color: var(--light4);
    border:1px var(--dark1);
}
textarea:focus{
    border:none;
    background-color: none;
}
textarea{
    border:none;
    font-family: "Inter", sans-serif;
}
.window:hover{
    resize: both;
}
.window:active{
    resize: both;
}
.header {
    padding: 20px;
    cursor: move;
    background-color: none;
}
.shrink{
    transform:scale(0.5);
}
.bg-accent:hover{
    background-color: var(--blue3);
}

.bg-dark:hover{
    background-color: var(--dark2);
}